In [25]:
import pandas as pd
import numpy as np

In [26]:
pd.set_option('display.max_rows', 10)

In [27]:
def aplicar_padding(lista, max_len, valor_padding=0):
    return lista + [valor_padding] * (max_len - len(lista))

In [28]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna(subset='token', inplace=True)
df.drop_duplicates(subset= 'word', inplace=True)
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
df['token_cut_eval'] = df['token_cut'].apply(lambda x: eval(x))
median = np.median([len(i) for i in df['encrypted_eval']])
std = np.std([len(i) for i in df['encrypted_eval']])
df['encrypted_eval_len'] = df['encrypted_eval'].apply(lambda x: len(x))
df = df[df['encrypted_eval_len'] <= median + 2*std]
max_element = max([len(i) for i in df['encrypted_eval']])
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))
df

,word,token,token_cut,encrypted,token_length,encrypted_eval,token_cut_eval,encrypted_eval_len,encrypted_padded
0,love's,868996791793,"[8689, 9679, 1793]","[7735, 7377, 3685]",12,"[7735, 7377, 3685]","[8689, 9679, 1793]",3,"[7735, 7377, 3685, 0, 0, 0]"
1,majesty,87758479939499,"[8775, 8479, 9394, 9900]","[9310, 4019, 8636, 6846]",14,"[9310, 4019, 8636, 6846]","[8775, 8479, 9394, 9900]",4,"[9310, 4019, 8636, 6846, 0, 0]"
2,To,6289,[6289],[3513],4,[3513],[6289],1,"[3513, 0, 0, 0, 0, 0]"
3,frightful,809283818294809586,"[8092, 8381, 8294, 8095, 8600]","[5415, 3871, 45, 1671, 577]",18,"[5415, 3871, 45, 1671, 577]","[8092, 8381, 8294, 8095, 8600]",5,"[5415, 3871, 45, 1671, 577, 0]"
4,"adversaries,",757896799293759283799322,"[7578, 9679, 9293, 7592, 8379, 9322]","[519, 7377, 3017, 7007, 5889, 5912]",24,"[519, 7377, 3017, 7007, 5889, 5912]","[7578, 9679, 9293, 7592, 8379, 9322]",6,"[519, 7377, 3017, 7007, 5889, 5912]"
...,...,...,...,...,...,...,...,...,...
4340,fruit,8092958394,"[8092, 9583, 9400]","[5415, 4351, 4729]",10,"[5415, 4351, 4729]","[8092, 9583, 9400]",3,"[5415, 4351, 4729, 0, 0, 0]"
4341,table.,947576867924,"[9475, 7686, 7924]","[9269, 7179, 3991]",12,"[9269, 7179, 3991]","[9475, 7686, 7924]",3,"[9269, 7179, 3991, 0, 0, 0]"
4342,pasture,90759394959279,"[9075, 9394, 9592, 7900]","[6048, 8636, 5576, 8356]",14,"[6048, 8636, 5576, 8356]","[9075, 9394, 9592, 7900]",4,"[6048, 8636, 5576, 8356, 0, 0]"
4343,viewing,96837997838881,"[9683, 7997, 8388, 8100]","[10095, 1638, 9108, 7715]",14,"[10095, 1638, 9108, 7715]","[9683, 7997, 8388, 8100]",4,"[10095, 1638, 9108, 7715, 0, 0]"
4344,started.,9394759294797824,"[9394, 7592, 9479, 7824]","[8636, 7007, 2511, 9657]",16,"[8636, 7007, 2511, 9657]","[9394, 7592, 9479, 7824]",4,"[8636, 7007, 2511, 9657, 0, 0]"

In [29]:
df = df[['token','encrypted_padded']]
df

                         token                     encrypted_padded
0                 868996791793          [7735, 7377, 3685, 0, 0, 0]
1               87758479939499       [9310, 4019, 8636, 6846, 0, 0]
2                         6289                [3513, 0, 0, 0, 0, 0]
3           809283818294809586       [5415, 3871, 45, 1671, 577, 0]
4     757896799293759283799322  [519, 7377, 3017, 7007, 5889, 5912]
...                        ...                                  ...
4340                8092958394          [5415, 4351, 4729, 0, 0, 0]
4341              947576867924          [9269, 7179, 3991, 0, 0, 0]
4342            90759394959279       [6048, 8636, 5576, 8356, 0, 0]
4343            96837997838881      [10095, 1638, 9108, 7715, 0, 0]
4344          9394759294797824       [8636, 7007, 2511, 9657, 0, 0]

[4277 rows x 2 columns]

In [30]:
for i in range(max_element):
    # Asignar el valor correspondiente de la lista a cada nueva columna
    df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])

C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])
C:\Users\USER\AppData\Local\Temp\ipykernel_22960\3771069967.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'value_{i+1}'] = df['encrypted_padded'].apply(lambda x: x[i])

In [31]:
df = df.drop('encrypted_padded', axis=1)

In [32]:
df.to_excel('DF_for_model_training.xlsx')

# New EDA for another model Training

In [33]:
df = pd.read_excel('DF_for_EDA.xlsx')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.dropna(subset='token', inplace=True)
df.drop_duplicates(subset= 'word', inplace=True)
df = df.reset_index()
df.drop('index', axis=1, inplace=True)
df['encrypted_eval'] = df['encrypted'].apply(lambda x: eval(x))
df['token_cut_eval'] = df['token_cut'].apply(lambda x: eval(x))
median = np.median([len(i) for i in df['encrypted_eval']])
std = np.std([len(i) for i in df['encrypted_eval']])
df['encrypted_eval_len'] = df['encrypted_eval'].apply(lambda x: len(x))
df = df[df['encrypted_eval_len'] <= median + 2*std]
max_element = max([len(i) for i in df['encrypted_eval']])
df['encrypted_padded'] = df['encrypted_eval'].apply(lambda x: aplicar_padding(x, max_element))

In [34]:
df = df[['token_cut_eval','encrypted_eval']]

In [35]:
# Inicializar listas para almacenar los datos del nuevo DataFrame
tokens = []
encrypteds = []

# Iterar sobre cada fila del DataFrame original
for index, row in df.iterrows():
    # Obtener las listas de tokens y encriptados
    token_list = row['token_cut_eval']
    encrypted_list = row['encrypted_eval']
    
    # Asegurar que las listas tengan el mismo tamaño
    assert len(token_list) == len(encrypted_list), "Las listas no tienen el mismo tamaño"
    
    # Iterar sobre los elementos de las listas y agregarlos a las listas correspondientes
    for token, encrypted in zip(token_list, encrypted_list):
        tokens.append(token)
        encrypteds.append(encrypted)

# Crear el nuevo DataFrame con los datos recopilados
df_resultado = pd.DataFrame({
    "token": tokens,
    "encrypted": encrypteds
})

# Mostrar el nuevo DataFrame para verificar su estructura
df_resultado

       token  encrypted
0       8689       7735
1       9679       7377
2       1793       3685
3       8775       9310
4       8479       4019
...      ...        ...
15209   8100       7715
15210   9394       8636
15211   7592       7007
15212   9479       2511
15213   7824       9657

[15214 rows x 2 columns]

In [36]:
df_resultado.to_excel('DF_for_model_training_2.xlsx')